#sortList {
    width: 250px;
    height: 1200px;
    background: whitesmoke;
    padding: 20px;  
}

#sortList span {
    font-size: 28px;
}

#sortList > div {
    margin-bottom: 30px;
}
#sortList > div > ul {
    display: none;
}

#sortList ul > a > li{
    margin-left: 32px;
    font-size: 20px;
    width: 150px;
    height: 50px;    
    padding: 10px;
}
#sortList ul > a:hover > li {
    background: yellow;
}

.afterGlyphicon {
    vertical-align: 1px;
    margin-left: 10px;
}

.page {
    padding: 20px;
    background: silver;
    width: 768px;
    height: 530px;
    margin-top: 30px;
    margin-left:  calc((100% - 1018px)/2);
}

.shop-box {
    padding: 30px;
}

.shop-textBox {
    width:280px;
    height: 280px;
}

.shop-textBox > h3 {
    width: 280px;
    background: whitesmoke;
    font-size: 48px;
    padding: 5px;
    margin-bottom: 20px;
}

.shop-textBox > p {
    font-size: 18px;
}

#shopLove {
    font-size: 28px;
}
#shopLove > button {
    background: transparent;
    border: none;
    outline:none;
    color: #E06666;
}
#shopLoveNumber {
    vertical-align: 1px;
}

.react {
    margin-top: 450px;
    padding: 20px;
    background: silver;
}

.react img{
    width: 80px;
    height: 80px;
}

.react textarea{
    width:100%;
    height:100px;
    margin-top: 30px;
}