main > div.container {
    padding: 0;
    margin-top: 60px;
    margin-bottom: 120px;
}

.card {
    transition: transform 1s;
    transform-style: preserve-3d;
    position: relative;
    cursor:pointer;
}

.card-box {
    width: 86.363636363636363636363636363636%;
    padding: 48px;
    text-align: center;
    background: #797979;
}

.card:hover {
    transform: rotateY( 180deg );
}

.card-font {
    width: 100%;
    backface-visibility: hidden;
}

.card-back {
    width: 100%;
    height: 100%;
    transform: rotateY( 180deg );
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    right: 0;
    color: white;
}

.card-text {
    width: 100%;
    height: 100%;
    position: relative;    
    top: 35%;
}

.card-text > h3 {
    font-size: 48px;
    margin-bottom: 30px;
}

.card-text > p {
    font-size: 18px;
}


.slogan > div {
  
    height: 100px;
    padding: 10px 0;
    margin-bottom: 120px;
}

@media (max-width: 767px) {
    .slogan> div {
        height: 120px;
    }
    
    h1 {
        font-size: 40px;
    }
    
    .card-box {
        width: 100%;
    }
}