.sign-box {
    text-align: left;
    padding: 15px 73px;
}

.form-group a {
    font-size: 16px;
}

.sign-box > button {
    margin: 45px 0;
    height: 60px;
    font-size: 28px;
}

@media (max-width: 767px) {
    .main, .sign-box {
        width: 100%;
    }
}