.main {
    background: silver;
    width: 603px;
    height: 605px;
    margin: 60px auto;
    margin-bottom: 150px;
    text-align: center;
}

.main > h1 {
    font-size: 60px;
    padding: 40px 0;
}

.sign-box {
    text-align: left;
    padding: 15px 73px;
}

.form-group > label {
    font-size: 24px;
}

.form-group a {
    font-size: 16px;
}

.sign-box > button {
    margin: 45px 0;
    height: 60px;
    font-size: 28px;
}

@media (max-width: 767px) {
    .main, .sign-box {
        width: 100%;
    }
}