body {
    font-size: 16px;
}
h1, h2, ul, a {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

h1, h2, h3, h4, h5, h6, p, a, input, textarea, button, .breadcrumb {
    font-family: '微軟正黑體';
}
.headcolor{
    background-color: #FFDD55;
}
.headword h2{
    color: #5a5a5a;
}
.headword h2:hover{
    color: #232323;
}
/*================== nav ==================*/
nav {
    height: 112px;
}

nav >.container {
    padding-top: 16px;
}

.navbar-brand {
    padding: 0;
}

.navbar-brand > img {
    width: 142px;
    height: 80px;
}

.navbar-header h2 {
    padding-left: 48px;
    margin-top: 22px;
}

ul.navbar-right {
    padding-top: 22px;
}

ul.navbar-right > li {
    margin-left: 64px;
}

.navbar-btn {
    width: 64px;
    height: 32px;
    font-weight: 600;
}

.nav >li > a{
    padding-left: 0;
}

.navbar-header > button{
    width: 48px;
    height: 48px;
}

.navbar-toggle {
    display: block;
    position: fixed;
    top: 22px;
    right: 16px;
}

.header-padding {
    width: 100%;
    height: 112px;
}

/*================== end nav ==================*/
/*================== footer ==================*/
footer {
    background: #3c3c3c;
    height: 145px;
    padding: 48px 0;
}

footer > div {
    width: 675px;
    margin: 0 auto;
}

.web-icons {
    width: 675px;
    height: 48px;
}

.web-icons > li {
    float: left;
    width: 20%;
    text-align: center;
}

.web-icons > li > a > img {
    width: 48px;
    height: 48px;
    margin-bottom: 28px;
}

.col-xs-12 {
    padding: 0 !important;
}
/* 利用後面覆蓋的特性去初始化, 避免繁複冗長的呈述 */
.show-S, .show-M, .show-L {
    display: none;
}
.clear-S, .clear-M, .clear-L {
    display: block;
}
#navbarSpace {
    width: 100%;    
    display: none;
}

@media (min-width: 1280px) {
    .show-L {
        display: block;
    }
    .clear-L {
        display: none;
    }
    #navbarSpace {
        height: 0;
    }
}
/*=============內容=========*/
.main {
    background: #ffc8b4;
    width: 603px;
    height: 605px;
    margin: 60px auto;
    margin-bottom: 150px;
    text-align: center;
}

.main > h1 {
    font-size: 60px;
    padding: 40px 0;
}

.form-group > label {
    font-size: 24px;
}
.form-group > input, .form-group > textarea {
    font-size: 16px;
}
.breadcrumb {
    font-size: 16px;
    margin: 20px 0;
}
/*=============內容 End=========*/
@media (min-width: 768px) and  (max-width: 1279px){
    .show-M {
        display: block;
    }
    .clear-M {
        display: none;
    }
    .navbar-collapse {
        position: fixed;
        top: 111px;
    }
    #navbarSpace {
        height: 100px;
    }
}

@media (max-width: 767px) {
    .navbar-collapse {
        position: fixed;
        top: 111px;
    }
    footer {
        height: 220px;
    }
    footer > div, .web-icons {
        width: 100%;
    }
    .web-icons > li {
        width: 33.333333333%;
    }
    .show-S {
        display: block;
    }
    .clear-S {
        display: none;
    }
    #navbarSpace {
        height: 150px;
    }
}
/*================== end footer ==================*/
li.hasUser, li.noUser, #navbarSpace {
    display: none;
}

.clear {
    clear: both;
}